---
import { Image } from '@astrojs/image/components'
import logo from '../images/logo.svg'
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import Project from '../components/Project.astro'
import nemesisAiThumbnail from '../images/nemesis-ai/thumbnail.jpg'
import mealAppThumbnail from '../images/meal-app/thumbnail.jpg'
import vrTacticsThumbnail from '../images/vr-tactics/thumbnail.jpg'
import thumbnail from '../images/terrain-blog/thumbnail.png'
---

<Layout title='Laura Cleveland'>
  <div
    class='grid grid-cols-[minmax(16px,_1fr)_minmax(auto,_1024px)_minmax(16px,_1fr)] col-span-full bg-gradient-to-tr from-[#2c5666] to-[#4e557a] bg-origin-padding'
  >
    <div class='[grid-column:_2] pt-4 xs:pt-6 md:pt-10 pb-20 xs:pb-24 sm:pb-48'>
      <a href='/'>
        <Image alt='' src={logo} width={32} height={32} />
      </a>
      <p class='mt-32 sm:mt-64'>Hello, I'm</p>

      <h1 class='mb-20 text-3xl xs:text-4xl sm:text-5xl font-semibold'>
        <span class='block text-[#ffe1a6]'>Laura</span>
        <span class='block text-[#ffad8f]'>Cleveland</span>
      </h1>
      <p class='max-w-sm'>I'm a self-taught full stack web developer who</p>
    </div>
  </div>

  <Section>
    <p class='mb-12 max-w-lg'>
      I first felt the excitement of programming when I was 12 and hunkered down
      with a copy of Sams Teach Yourself HTML 4 in 24 Hours and made my first
      "Laura's web page". It was bright yellow and offensively garish, but it
      opened a door for me into design. After that I was obsessed with Photoshop
      and had dreams of becoming a graphic designer that didn't pan out. It
      wasn't until my husband went to school for computer science that I got
      into programming again. That's when things clicked for me and I was hooked
      for good.
    </p>
    <p class='max-w-lg'>
      Since then, for over a decade I have been exploring different areas of
      programming and honing my skills. I love continuously learning and finding
      ways to adapt and improve, and stay up to date with new tech.
    </p>
  </Section>

  <Section>
    <h2 class='mb-10 text-2xl font-bold'>My Skills</h2>

    <!-- I know there is a way to do thirds for these that has better balance -->
    <ul class='flex flex-wrap text-sm font-medium uppercase'>
      <li class='basis-1/2 xs:basis-1/3 py-3'>Javascript</li>
      <li class='basis-1/2 xs:basis-1/3 py-3'>React</li>
      <li class='basis-1/2 xs:basis-1/3 py-3'>SQL</li>
      <li class='basis-1/2 xs:basis-1/3 py-3'>Typescript</li>
      <li class='basis-1/2 xs:basis-1/3 py-3'>Python</li>
      <li class='basis-1/2 xs:basis-1/3 py-3'>HTML/CSS</li>
      <li class='basis-1/2 xs:basis-1/3 py-3'>Tailwind CSS</li>
      <li class='basis-1/2 xs:basis-1/3 py-3'>styled-components</li>
      <li class='basis-1/2 xs:basis-1/3 py-3'>Node.js</li>
      <li class='basis-1/2 xs:basis-1/3 py-3'>Gatsby JS</li>
      <li class='basis-1/2 xs:basis-1/3 py-3'>GraphQL</li>
      <li class='basis-1/2 xs:basis-1/3 py-3'>Prisma</li>
    </ul>
  </Section>

  <Section>
    <h2 class='mb-6 text-2xl font-bold'>Featured Projects</h2>
    <p class='mb-16 max-w-lg'>
      I try to pursue projects that are complex enough to sufficiently challenge
      my abilities and that will lead to really worthwhile learning. I'm
      motivated by opportunities to solve real world problems and
    </p>

    <Project
      title='Nemesis AI'
      description='A GPT-powered chatbot to answer questions about board game rules'
      image={nemesisAiThumbnail}
      url='nemesis-ai'
    />

    <Project
      title='Meal app'
      description='Tracks meals and their ingredients, food purchases, and home inventory'
      image={mealAppThumbnail}
      url='meal-app'
    />

    <Project
      title='Tactics VR'
      description='The beginnings of a tactics game for SteamVR, built with Unity'
      image={vrTacticsThumbnail}
      url='vr-tactics'
    />

    <Project
      title='1d3trees: Tabletop DIY Blog'
      description="Blog for detailing the process of crafting bits and bobs for tabletop games, and showcasing miniatures I've painted"
      image={thumbnail}
      url='#'
    />
  </Section>

  <Section>
    <h2 class='mb-6 text-2xl font-bold'>Get in touch</h2>
    <p class='mb-6 max-w-md'>
      Anim Lorem et esse sunt duis commodo culpa exercitation est pariatur Lorem
      qui mollit adipisicing.
    </p>
    <a href='#' class='text-sm font-bold uppercase border-b border-b-text'
      >Nunc vel gravida nisl</a
    >
  </Section>

  <div class='col-span-full flex justify-end mt-12 mb-8 pr-10'>
    <a href='#' class='ml-6'>github</a>
    <a href='#' class='ml-6'>twitter</a>
    <a href='#' class='ml-6'>linkedin</a>
  </div>
</Layout>
