---
import { Image } from '@astrojs/image/components'

import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import Project from '../components/Project.astro'
import ListItem from '../components/ListItem.astro'
import Heading from '../components/Heading.astro'

import logo from '../images/logo.svg'
import githubIcon from '../images/github.svg'
import twitterIcon from '../images/twitter.svg'
import linkedinIcon from '../images/linkedin.svg'
import nemesisAiThumbnail from '../images/nemesis-ai/thumbnail.jpg'
import mealAppThumbnail from '../images/meal-app/thumbnail.jpg'
import vrTacticsThumbnail from '../images/vr-tactics/thumbnail.jpg'
import thumbnail from '../images/terrain-blog/thumbnail.jpg'
---

<Layout title='Laura Cleveland'>
  <div
    class='grid grid-cols-[minmax(16px,_1fr)_minmax(auto,_1024px)_minmax(16px,_1fr)] sm:grid-cols-[minmax(64px,_1fr)_minmax(auto,_1024px)_minmax(64px,_1fr)] col-span-full bg-gradient-to-tr from-[#2c5666] to-[#4e557a] bg-origin-padding'
  >
    <div
      class='[grid-column:_2] pt-4 xs:pt-6 sm:pt-12 md:pt-10 pb-20 xs:pb-24 sm:pb-32'
    >
      <div class='flex'>
        <a href='/'>
          <Image alt='' src={logo} width={32} height={32} />
        </a>
        <a
          href='https://github.com/laurakcleve'
          target='_blank'
          rel='noopener noreferrer'
          class='ml-auto mr-4'
        >
          <Image alt='Github icon' src={githubIcon} width={24} height={24} />
        </a>
        <a
          href='https://twitter.com/laurak_cleve'
          target='_blank'
          rel='noopener noreferrer'
          class='mr-4'
        >
          <Image alt='Twitter icon' src={twitterIcon} width={24} height={24} />
        </a>
        <a
          href='https://www.linkedin.com/in/laura-cleveland-4495844a/'
          target='_blank'
          rel='noopener noreferrer'
        >
          <Image
            alt='LinkedIn icon'
            src={linkedinIcon}
            width={24}
            height={24}
          />
        </a>
      </div>

      <p class='mt-32 sm:mt-44'>Hello, I'm</p>

      <h1 class='mb-20 sm:mb-14 text-3xl xs:text-4xl sm:text-5xl font-semibold'>
        <span class='block text-[#ffe1a6]'>Laura</span>
        <span class='block text-[#ffad8f]'>Cleveland</span>
      </h1>
      <p class='max-w-sm'>I'm a self-taught full stack web developer who</p>
    </div>
  </div>

  <Section>
    <p class='mb-12 max-w-lg'>
      I first felt the excitement of programming when I was 12 and hunkered down
      with a copy of Sams Teach Yourself HTML 4 in 24 Hours and made my first
      "Laura's web page". It was offensively yellow and garish, but it opened a
      door for me into coding and design. After that I was obsessed with
      Photoshop and had dreams of becoming a graphic designer that didn't pan
      out. It wasn't until my husband went to school for computer science that I
      got into programming again. That's when things clicked for me and I was
      hooked for good.
    </p>
    <p class='mb-12 max-w-lg'>
      Since then, for over a decade I have been exploring different areas of
      programming and honing my skills. I love continuously learning and finding
      ways to adapt and improve, and stay up to date with new tech.
    </p>
    <p class='max-w-lg'>
      I've gotten really excited about AI and all the brand new possibilities,
      on both the technical and the creative side. Apart from coding, I enjoy
      tabletop gaming, miniature painting, video games, and reading sci-fi and
      fantasy novels.
    </p>
  </Section>

  <Section>
    <Heading>My Skills</Heading>

    <ul
      class='grid grid-cols-2 sm:grid-cols-3 gap-2 text-sm font-medium uppercase'
    >
      <ListItem small>Javascript</ListItem>
      <ListItem small>React</ListItem>
      <ListItem small>SQL</ListItem>
      <ListItem small>Typescript</ListItem>
      <ListItem small>Python</ListItem>
      <ListItem small>HTML/CSS</ListItem>
      <ListItem small>Tailwind CSS</ListItem>
      <ListItem small>styled-components</ListItem>
      <ListItem small>Node.js</ListItem>
      <ListItem small>Gatsby JS</ListItem>
      <ListItem small>GraphQL</ListItem>
      <ListItem small>Prisma</ListItem>
    </ul>
  </Section>

  <Section>
    <Heading>Featured Projects</Heading>
    <p class='mb-24 max-w-lg'>
      I like to pursue projects that are complex enough to sufficiently
      challenge my abilities and that will lead to really worthwhile learning.
      I'm motivated by opportunities to solve real world problems and
    </p>

    <Project
      title='Nemesis AI'
      description='A GPT-powered chatbot to answer questions about board game rules'
      image={nemesisAiThumbnail}
      url='nemesis-ai'
    />

    <Project
      title='Meal app'
      description='Tracks meals and their ingredients, food purchases, and home inventory'
      image={mealAppThumbnail}
      url='meal-app'
    />

    <Project
      title='Tactics VR'
      description='The beginnings of a tactics game for SteamVR, built with Unity'
      image={vrTacticsThumbnail}
      url='vr-tactics'
    />

    <Project
      title='1d3trees: Tabletop DIY Blog'
      description="Blog for detailing the process of crafting bits and bobs for tabletop games, and showcasing miniatures I've painted"
      image={thumbnail}
      url='blog'
    />
  </Section>

  <Section>
    <Heading>Get in touch</Heading>
    <p class='inline-block text-sm font-bold border-b border-b-text'>
      laurakcleve@gmail.com
    </p>
  </Section>

  <div class='col-span-full flex justify-end mt-12 mb-8 pr-10'>
    <a href='#' class='ml-6'>github</a>
    <a href='#' class='ml-6'>twitter</a>
    <a href='#' class='ml-6'>linkedin</a>
  </div>
</Layout>
